extends layout
block content
    .hero.is-shadow
        .hero-body
            .container
                .notification(style="background-color:#ffff;")
                    //h1.title Bienvenido
                    article.message.is-info
                        .message-header
                            p Bienvenido
                        .message-body
                            h1.title #{fullname}
                            hr
                            p.content
                                span.icon.is-medium
                                    i.fas.fa-shield-alt.fa-lg
                                span(style="border-bottom: 1px solid;") <strong>Seguridad e inicio de sesión</strong>
                            .content
                                ul
                                    each auth in auths
                                        li
                                            .field
                                                input.is-checkradio(type="checkbox", checked=(auth.status===1 ? "checked" : undefined), id=`chbox${auth.code}`, style="border: .1rem solid #00d1b2;border-color: #00d1b2!important;", onclick="submitCheckBox(this)", data-type=`${auth.code}`, data-id=`${auth.idTypeAuth}`, data-temp=`${auth.idUserAuthType}`)
                                                label(for=`chbox${auth.code}`) Verificación por #{auth.description}
                                    //li 
                                        .field
                                            input.is-checkradio(type="checkbox", checked=(true===false ? "checked" : undefined), name="exampleCheckbox", id="exampleCheckbox", style="border: .1rem solid #00d1b2;border-color: #00d1b2!important;" onclick="this.checked = !this.checked")
                                            label(for="exampleCheckbox") Verificación por correo electronico

                    hr
                    //.field.is-grouped
                        .control
                            a.button.is-danger(href="/config") 
                                span.icon.has-text-white
                                    i.fas.fa-power-off 
                                p  Configurar
                        //.control
                        //    a.button.is-link save changes
                        //.control
                        //    a.button.is-link save changes
                
    